<html>
   <head>
      <title>Search</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
      </script> 
      
      <script>
         $(document).ready(function() {
            $('select').material_select();
         });
      </script>
       
      <script>
        $(document).ready(function() {
        $('select').material_select();

        // for HTML5 "required" attribute
        $("select[required]").css({
          display: "inline",
          height: 0,
          padding: 0,
          width: 0
        });
      });
      </script>
   
   </head>
   <body>
   <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Search</a>
      <ul class="right hide-on-med-and-down">
      </ul>

      <ul id="nav-mobile" class="side-nav">
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
   
      <div class="container">
        &nbsp;&nbsp; 
      </div>
    
   <div class="container"> 
       
       
      <div class = "row">
         <form action="{{ url_for('buildModel') }}" method='post' class = "col s10">
             
          <div class = "row">
           <p class="flow-text">Verify data for indexing</p>
              <label>Select data for Indexing</label>
              <select required name='data-verification'>
                  <option value="" disabled selected>Choose your data</option>
                  {% for o in menu %}
                  <option value="{{ o }}" SELECTED>{{ o }}</option>
                  {% endfor %}
              </select>


           </div> 
             
             
          <div class = "row">
            <p class="flow-text">Select Analyzer for Search</p>
            <label>Analyzer</label>
               <select required name='analyzer'>
                  <option value = "" disabled selected>Select Analyzer</option>
                  <option value = "english">Standard</option>
                  <option value = "english_bigrams">Bigrams</option>
               </select>      
             <button class="waves-effect waves-light btn-large light-blue lighten-1" type="submit" value='submit'>Build
                  <i class="material-icons right">send</i>
             </button>
            </div>
             


         </form>       
      </div>
     </div>
   </body>   
</html>